@font-face {
  font-family: "iconfont"; /* Project id 4572399 */
  @font-face {
    font-family: 'iconfont';  /* Project id 4572399 */
    src: url('https://at.alicdn.com/t/c/font_4572399_zwdidw2vf3s.woff2?t=1717408762895') format('woff2');
        
  }

}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-downarrow:before {
  content: "\e692";
}

.icon-toparrow:before {
  content: "\e694";
}

.icon-lajitong:before {
  content: "\e66b";
}

.icon-xiaoxi:before {
  content: "\e6ad";
}

